:root {
    --primary-text: #000000;
    --secundary-text: #6b6b6b;

    --primary-background: #ffffff;
    --secondary-background: #fdb10d;
    --tertiary-background: #f55200;
    --code_background: #fffbf3;
    --font-family: 'Fira Sans', sans-serif;
    --border: 0.05em solid var(--secundary-text);
}