@import './constants.scss';

#sidebar {
    position: sticky;
    top: 1em;
    width: fit-content;
    height: fit-content;
    padding: 1em 1.5em 1em 1.5em;
    background: var(--card-background);
    backdrop-filter: blur(10px);
    border: var(--border);
    border-radius: 12px;
    font-size: 0.9em;

    ul {
        list-style: none;
        padding: 0;
    }

    h3 {
        font-size: 1.1em;
    }
}

.event-type {
    font-weight: 300;
    text-transform: capitalize;
}

#event-list {
    font-size: 0.85em;

    .event-item {
        padding: 0.8em;
        margin-bottom: 0.8em;
        background: var(--primary-background);
        border: var(--border);
        border-radius: 8px;

        .event-title {
            font-weight: bold;
            font-size: 1.1em;
            text-transform: capitalize;
        }

        .event-description {
            color: var(--secondary-text);
            font-size: 0.95em;

            .event-date {
                font-style: italic;
            }

            a {
                text-decoration: none;
            }
        }

        &:hover {
            background: var(--secondary-background);
        }
    }
}