<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Material Icons (Optional if you stick to Boxicons) -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="/logo.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">
    <script src="/symbols.js" type="text/javascript"></script>

    {% block head %}
    {% endblock %}


    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="{{ config.title }}"
        href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
    {% endblock %}
</head>


<div class="background">
    <!-- Symbols will be dynamically generated here -->
</div>

<body>

    {% block top %}
    {% endblock %}


    <div id="links">

        <!-- https://boxicons.com/icons -->

        <a href="https://signal.group/#CjQKIIFBw0pWntM-J2GbMnBP-Ywv8rwMGJHODejgkR6a2pJIEhARmshQohwfrfZZ8aKDUsLJ"
            aria-label="Signal Chat"> <span>Signal</span>
            <i class='bx bx-chat'></i>
        </a>

        <!-- <a href="https://www.meetup.com/systems-programming-ghent/" aria-label="Meetup Group"> <span>
                MeetUp</span>
            <i class='bx bx-calendar'></i>
        </a> -->


        <a href="https://mobilizon.be/@sysghent" aria-label="Mobilizon group"> <span>
                Mobilizon</span>
            <i class='bx bx-group'></i>
        </a>



    </div>

    <main>


        <aside id="sidebar">


            <ul id="section-list">
                <li id="home-button">
                    <h3>
                        <a href="/#title">
                            About
                        </a>
                    </h3>
                </li>

                {% set section = get_section(path="events/_index.md") %}
                <li class="section-page-listing">
                    <h3>
                        Upcoming {{ section.title }}
                    </h3>
                    <ul id="event-list">

                        {% set n = now() | date(format="%Y-%m-%d") | date(format="%s") | int %}

                        {% for page in section.pages | reverse %}



                        {% set d = page.date | date(format="%Y-%m-%d") | date(format="%s") | int %}

                        {% if d > n %}


                        <li class="event-item">

                            <div class="event-title">
                                {% if page.extra.type %}
                                <span class="event-type">
                                    {{ page.extra.type }}:
                                </span>
                                {% endif %}
                                <a href="{{ page.permalink }}#title">
                                    {{ page.title }}
                                </a>

                            </div>

                            <div class="event-description">

                                {% if page.extra.registration %}
                                <a class="event-date" href="{{ page.extra.registration }}">



                                    <span class="bx bx-calendar-check"></span>

                                    {{ page.date | date(format="%a, %Y-%m-%d") }}
                                    {% if page.extra.time %} at {{ page.extra.time }} {% endif %}


                                </a>

                                {% else %}

                                <span class="event-date">



                                    <span class="bx bx-calendar-check"></span>

                                    {{ page.date | date(format="%a, %Y-%m-%d") }}
                                    {% if page.extra.time %} at {{ page.extra.time }} {% endif %}


                                </span>


                                {% endif %}




                                {% if page.extra.location %}
                                <br>
                                <a href="https://www.openstreetmap.org/search?query={{ page.extra.location }}"
                                    target="_blank">{{ page.extra.location }}</a>
                                {% endif %}



                            </div>


                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>

                    <h3>
                        <a href="/events#title">{{ section.title }}</a>
                    </h3>

                </li>
                {% set section = get_section(path="_index.md") %}

            </ul>



        </aside>




        <article id="base-article">
            {% block content %}{% endblock %}



        </article>

    </main>

    <footer>
        <p>&copy; 2025 Systems Programming Ghent. All rights reserved.</p>
        <div id="footer-links">
            <a href="https://github.com/sysghent" target="_blank" aria-label="GitHub">
                <i class='bx bxl-github'> </i> GitHub organization
            </a>
            <a href="mailto:sysghent@proton.me" aria-label="Contact"> <i class='bx bx-envelope'></i> Contact</a>
        </div>
    </footer>
</body>




</html>