{% extends "page.html" %}


{% block content %}


<section>
    <h2>What We Do</h2>
    <p>We aim to bring <strong>systems programming enthusiasts</strong> together by organizing events in
        Ghent and the surrounding area.</p>
    <blockquote>
        <strong>Systems programming</strong> aims to produce software and software platforms which
        provide services to other software, are performance constrained, or both.
    </blockquote>
</section>
<section>
    <h2>Why We Do It</h2>
    <p>We are passionate about what we do but we also want to relax a bit, make
        deep connections in-person and have good conversations about systems programming or life in
        general.</p>
</section>
<section>
    <h2>Who We Are</h2>
    <p>This community was started by a software engineer, <a href="https://wvhulle.github.io">Willem</a>
        at <a href="https://otiv.ai">OTIV</a>, a company in Ghent, specialized in software for operating
        railway vehicles.</p>
</section>


{% endblock content %}