{% extends "page.html" %}




{% block content %}



<header>

    <h2>{{ section.title }}</h2>
</header>

{{ section.content | safe}}

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% set n = now() | date(format="%Y-%m-%d") | date(format="%s") | int %}





        {% for post in section.pages %}


        {% set d = post.date | date(format="%Y-%m-%d") | date(format="%s") | int %}

        <tr class="{% if d > n %}future{% else %}past{% endif %}">
            <td>{{ post.date | date(format="%A, %Y-%m-%d") }}</td>
            <td><a href="{{ post.permalink }}">{{ post.title }}</a></td>
            <td>{{ post.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>





{% endblock content %}